---
import PriceCalculator from "../components/PriceCalculator";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Tax System</title>
  </head>
  <body>
    <h1>Tax System</h1>
    <PriceCalculator client:load />
  </body>
</html>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    height: 100vh;
  }
  .select-container {
    background-color: white;
    padding: 1rem;
  }
</style>
